<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.todocalendar.mapper.UserMapper">

	<insert id="insertMember">
		insert into member(member_no, id, password, name, email, join_date, membership) values (, #{id}, #{password}, #{name}, #{email}, #{join_date}, #{membership})
	</insert>

</mapper>