<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.todocalendar.mapper.MemberMapper">

	<insert id="insertMember">
		INSERT INTO MEMBER(
					MEMBER_NO
					, ID
					, PASSWORD
					, NAME
					, EMAIL
					, JOIN_DATE
					, MEMBERSHIP
					, DELAY_AUTO
					)
		VALUES (
					(
						SELECT NVL(MAX(MEMBER_NO), 0) + 1
						FROM MEMBER
					)
					, #{id}
					, #{password}
					, #{name}
					, #{email}
					, SYSDATE
					, 1
					, 'N'
				)
	</insert>
	
	<select id="readById" resultType="com.todocalendar.model.MemberVO">
		SELECT *
		  FROM MEMBER
		 WHERE ID = #{id}
	</select>
	
	<select id="loginCheck" resultType="com.todocalendar.model.MemberVO">
		SELECT *
		  FROM MEMBER
		WHERE ID = #{id}
		  AND PASSWORD = #{password}
	</select>
	
	<update id="updateMember">
		UPDATE MEMBER
		   SET PASSWORD = #{password}
		   	   , DELAY_AUTO = #{dealy_auto}
		 WHERE ID = #{id}
	</update>
	
	<delete id="withdrawMember">
		DELETE 
		  FROM MEMBER
		 WHERE ID = #{id}
	</delete>
	
	<select id="memberCheck" resultType="com.todocalendar.model.MemberVO">
		SELECT *
		  FROM MEMBER
		 WHERE ID = #{id}
		   AND PASSWORD = #{password}
	</select>
  
  <select id="selectMemberList" resultType="com.todocalendar.model.MemberVO">
		SELECT MEMBER_NO		/* 회원번호 */
		     , ID 				/* 아이디 */
		     , PASSWORD		    /* 패스워드 */
		     , NAME			    /* 이름 */
		     , EMAIL			/* 이메일 */
		     , JOIN_DATE		/* 가입일시 */
		     , MEMBERSHIP		/* 멤버십 */
		     , DELAY_AUTO		/* 자동미루기 Y/N */
		  FROM MEMBER           /* 회원 테이블 */
		   AND MEMBER_NO = #{member_no}
	</select>

</mapper>