<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todocalendar.mapper.ScheduleMapper">

	<insert id="insertSchedule">
		INSERT INTO SCHEDULE (
				 SCHEDULE_NO     /* 일정번호(PK) */
		       , MEMBER_NO       /* 회원번호(FK) */
		       , CATEGORY_NO     /* 카테고리번호(FK) */
		       , CONTENT         /* 내용 */
		       , PLAN_DATE       /* 날짜 */
		       , DDAY            /* 디데이 */
		       , COMPLETE        /* 완료Y/N */
			   )
		VALUES
			   (
				 (
		            SELECT NVL(MAX(SCHEDULE_NO), 0) + 1
		              FROM SCHEDULE
		         )
		       , #{member_no}
		       , #{category_no}
		       , #{content}
		       , #{plan_date}
		       , #{dday}
		       , #{complete}
		)
	</insert>

	<select id="selectScheduleList" resultType="com.todocalendar.model.ScheduleVO">
		SELECT SCHEDULE_NO      /* 일정번호(PK) */
		     , MEMBER_NO        /* 회원번호(FK) */
		     , CATEGORY_NO      /* 카테고리번호(FK) */
		     , CONTENT          /* 내용 */
		     , PLAN_DATE        /* 날짜 */
		     , DDAY             /* 디데이 */
		     , CASE DDAY WHEN '1' THEN '디데이'
		                 WHEN '2' THEN '기념일'
		                 ELSE '해당없음'
		        END AS DDAY_NM	/* 디데이구분명 */
		     , CASE DDAY WHEN '0' THEN -1
		                 ELSE TO_DATE( TO_CHAR( SYSDATE, 'YYYYMMDD' ) ) - PLAN_DATE
		        END AS DDAY_CNT	/* 디데이일수 */
		     , COMPLETE         /* 완료Y/N */
		  FROM SCHEDULE         /* 일정 테이블 */
		 WHERE MEMBER_NO   = #{member_no}
		   <if test="category_no != null and category_no neq ''">
				AND CATEGORY_NO = #{category_no}
		   </if>
	</select>

	<!-- 추가 -->
	<select id="selectScheduleListByMonth" parameterType="String" resultType="com.todocalendar.model.ScheduleVO">
		SELECT SCHEDULE_NO      /* 일정번호(PK) */
		     , MEMBER_NO        /* 회원번호(FK) */
		     , CATEGORY_NO      /* 카테고리번호(FK) */
		     , CONTENT          /* 내용 */
		     , PLAN_DATE        /* 날짜 */
		     , DDAY             /* 디데이 */
		     , CASE DDAY WHEN '1' THEN '디데이'
		                 WHEN '2' THEN '기념일'
		                 ELSE '해당없음'
		        END AS DDAY_NM	/* 디데이구분명 */
		     , CASE DDAY WHEN '0' THEN -1
		                 ELSE TO_DATE( TO_CHAR( SYSDATE, 'YYYYMMDD' ) ) - PLAN_DATE
		        END AS DDAY_CNT	/* 디데이일수 */
		     , COMPLETE         /* 완료Y/N */
		     , TO_CHAR(PLAN_DATE, 'FMdd') AS DAY
		  FROM SCHEDULE         /* 일정 테이블 */
		 WHERE MEMBER_NO   = #{member_no}
		   <if test="month != null and month neq ''">
				AND TO_CHAR(PLAN_DATE, 'FMMM') = #{month}
		   </if>
	</select>
	
	<select id="selectScheduleListAll" resultType="com.todocalendar.model.ScheduleVO">
		SELECT SCHEDULE_NO      /* 일정번호(PK) */
		     , MEMBER_NO        /* 회원번호(FK) */
		     , CATEGORY_NO      /* 카테고리번호(FK) */
		     , CONTENT          /* 내용 */
		     , PLAN_DATE        /* 날짜 */
		     , DDAY             /* 디데이 */
		     , CASE DDAY WHEN '1' THEN '디데이'
		                 WHEN '2' THEN '기념일'
		                 ELSE '해당없음'
		        END AS DDAY_NM	/* 디데이구분명 */
		     , CASE DDAY WHEN '0' THEN -1
		                 ELSE TO_DATE( TO_CHAR( SYSDATE, 'YYYYMMDD' ) ) - PLAN_DATE
		        END AS DDAY_CNT	/* 디데이일수 */
		     , COMPLETE         /* 완료Y/N */
		  FROM SCHEDULE         /* 일정 테이블 */
		 WHERE MEMBER_NO   = #{member_no}
	</select>
	
	<update id="changeComplete">
		UPDATE SCHEDULE
		   SET COMPLETE = #{complete}
		 WHERE MEMBER_NO = #{member_no}
		   AND SCHEDULE_NO = #{schedule_no}
	</update>
	
	<select id="selectScheduleListByCount" resultType="int">
		SELECT (SELECT COUNT(b.COMPLETE)
          FROM SCHEDULE b
         WHERE b.COMPLETE = 'Y'
           AND TO_CHAR(b.PLAN_DATE) = TO_CHAR(SYSDATE)) AS "Y_COUNT"
         ,(SELECT COUNT(c.COMPLETE)
             FROM SCHEDULE c
            WHERE c.COMPLETE = 'N'
              AND TO_CHAR(c.PLAN_DATE) = TO_CHAR(SYSDATE)) AS "N_COUNT"
        , (SELECT COUNT(*)
             FROM SCHEDULE d
            WHERE d.MEMBER_NO = #{member_no}
              AND TO_CHAR(d.PLAN_DATE) = TO_CHAR(SYSDATE)) AS "ALL_COUNT"
  		FROM SCHEDULE a
 	   WHERE a.MEMBER_NO = #{member_no}
         AND ROWNUM = 1
	</select>

</mapper>